node_modules
.DS_Store
secret.js
/files
documents.txt
config.json

성윰서 -22
김상상씨 -22
KTR -20
스팁군 -22
최 선 한 -20
Eggcat 62
qmfhswmek 52
I 아이언아이번 I 58
Oscarn 58
쵸     323    콕 52

성윰서 -25
김상상씨 -24
KTR -17
스팁군 -23
최 선 한 -23
Eggcat 59
qmfhswmek 64
I 아이언아이번 I 50
Oscarn 61
쵸     323    콕 55